# 파이썬
1. 파이썬은 인간다운 언어이다
2. 문법이 쉬워 빠르게 배울 수 있다
3. 무료이지만 강력하다
4. 간결하다
5. 프로그래밍을 즐기게 해 준다
6. 개발 속도가 빠르다

위키독스

-> 동적 타입 언어 (변수의 자료형을 지정하지 않고 선언하는 것만으로 값을 지정할 수 있다.)

In [1]:
import pandas as pd
import numpy as np

In [2]:
a = 10
b = 'hangil'

print(a,b)

10 hangil

# 식별자

식별자는 프로그래밍 언어에서 이름을 붙일 때 사용하는 단어입니다. 주로 변수 또는 함수 이름 등으로 사용됩니다. 식별자는 기본적으로 다음과 같은 규칙을 지켜 만들어야 합니다.

1. 키워드*를 사용하면 안 됩니다.
2. 특수 문자는 언더 바(_ )만 허용됩니다.
3. 숫자로 시작하면 안 됩니다.
4. 공백을 포함할 수 없습니다.
+ 가급적 알파벳을 사용해주세요.
+ 유의미한 뜻으로 짓되 누구나 알 수 있어야 합니다.

keyword
['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#스네이크 케이스

단어 사이에 언더바를 사용하여 식별자를 만든다.

스네이크 케이스 -> 함수 또는 변수

In [10]:
choi_hangil = 17

df_kospi = pd.read_csv('./data/0900_0905.csv', index_col=0)

#캐멀 케이스

단어들의 첫 글자를 대문자로 만들어 식별자를 만든다.

캐멀 케이스 -> 클래스

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
ChoiHangil = 17

class Account:
        num_accounts = 0
        def __init__(self, name):
                self.name = name
                Account.num_accounts += 1
        def __del__(self):
                Account.num_accounts -= 1

kim = Account("kim")
lee = Account("lee")

In [13]:
kim.num_accounts

1

# 데이터프레임

행, 열

rows : 그 날의 모든 주식 데이터
columns : 모든 날짜의 특정 주식 데이터

In [14]:
df_kospi

,date,y_change,KODEX_return,PER,PBR,Dividend_Yield,Kosdaq150_return,S&P500_return,WTI_change,WTI_Volume,T10Y2Y,T10Y3M,VIX
0,2021-01-05,0.0,113.0,30.68,1.20,1.42,0.0,28.84,2.55,643.19,0.83,0.87,-1.60
1,2021-01-06,0.0,433.0,30.45,1.20,1.43,88.0,35.94,0.81,509.37,0.90,0.95,-0.41
2,2021-01-07,0.0,514.0,31.11,1.22,1.40,93.0,39.08,0.30,369.29,0.94,0.99,-1.30
3,2021-01-08,0.0,429.0,32.35,1.27,1.35,73.0,9.63,1.31,499.42,0.99,1.05,-0.87
4,2021-01-11,0.0,-212.0,32.31,1.27,1.35,-59.0,-3.53,-0.33,394.82,1.01,1.07,0.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,2023-10-18,0.0,-425.0,18.48,0.89,2.00,-250.0,-42.75,0.51,92.80,-0.28,-0.70,0.86
640,2023-10-19,0.0,-255.0,18.12,0.88,2.04,-180.0,-43.36,1.13,72.06,-0.16,-0.62,1.67
641,2023-10-20,0.0,-35.0,17.82,0.86,2.08,-35.0,-49.69,-1.53,27.31,-0.14,-0.65,0.12
642,2023-10-23,0.0,150.0,17.68,0.86,2.09,125.0,6.64,-2.51,315.52,-0.19,-0.72,-1.46
643,2023-10-24,0.0,90.0,17.88,0.87,2.07,40.0,11.89,-2.41,370.59,-0.19,-0.75,-1.06