# Feature Selection이란?

Feature Selection은 ML에 있어서 매우 중요한 기술입니다.
Feature Selection의 기본적인 아이디어는,
모델링 시 raw data의 모든 feature를 사용하는 것은 computing power와 memory 측면에서 매우 비효율적이기 때문에,
일부 필요한 feature만 선택해서 사용하자는 것입니다.


어떻게 보면, Feature Selection은 여러분의 모델 성능을 높이기 위해서 반드시 필요한 기술 중 하나입니다.
Feature Selection은 Feature Engineering, Feature Extraction과 유사하지만,
표현 자체는 구분되며, 간단하게 정리하면 아래와 같습니다.


Feature Engineering : 도메인 지식을 사용하여 데이터에서 피쳐를 변형/생성
Feature Extraction : 차원축소 등 새로운 중요 피쳐를 추출
Feature Selection : 기존 피쳐에서 원하는 피쳐만 (변경하지 않고) 선택


즉, FE는 "데이터의 피쳐를 어떻게 유용하게 만들 것인가"의 문제이며,
FS는 "데이터에서 유용한 피처를 어떻게 선택할 것인가"의 문제입니다.
Feature Selection은 아래와 같은 장점이 있습니다.

- 사용자가 해석하기 쉽게 모델을 단순화

- 훈련 시간의 축소

- 차원의 저주 방지

- 일반화

어떤 방법론을 사용할 것인가?


Feature Selection을 한다는 것은, feature subset을 만드는 과정이기 때문에
시간과 자원이 충분하다면, 모든 방법을 테스트하여 구하고자하는 score가 높은 subset을 사용하면 됩니다.


하지만, 이 방법은 현실적으로 무리가 있기 때문에, 평가 메트릭에 따라 적합한 방법을 사용하는 것이 좋습니다.
Feature Selection의 방법론은 크게 3가지로 분류됩니다.


- Filter Method : Feature 간 관련성을 측정하는 방법

- Wrapper Method : Feature Subset의 유용성을 측정하는 방법

- Embedded Method : Feature Subset의 유용성을 측정하지만, 내장 metric을 사용하는 방법

In [5]:
# 라이브러리 호출
import pandas as pd

# 경고창 제거
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv('./타이타닉_train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

피쳐
- Survived : 생존여부
- Pclass : 승객등급
- Name : 이름
- Sex : 성별
- Age : 나이
- SibSp : 동승한 형제 또는 배우자 수
- Parch : 동승한 부모 또는 자녀 수
- Ticket : 티켓의 고유 번호
- Fare : 승객 지불 요금
- Cabin : 객실 번호
- Embarked :  승선항 (C = 쉘 부르크, Q = 퀸즈타운, S = 사우스햄튼)

In [7]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
# 결측치 제거
df = df[~df['Embarked'].isna()]
df.reset_index(drop=True, inplace=True)

In [9]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [10]:
df2 = df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked']]

In [11]:
df2.columns = ['생존여부', '승객등급', '성별', '나이', 'sibsp', 'parch', '승객요금', 'Embarked']

In [12]:
def change(x):
    if x == 'male':
        return 1
    else:
        return 0
df2['성별'] = df2['성별'].apply(change)

In [13]:
dummy_df = pd.get_dummies(df2['Embarked'], prefix='Embarked')
df = pd.concat([df2, dummy_df], axis=1)
df.drop(columns=['Embarked'], axis=1, inplace=True, errors='ignore')

In [ ]:
df

In [14]:
X = df.drop(columns='생존여부', axis=1)
y = df[['생존여부']]

## 1. Wrapper : 모델링을 돌리면서 변수를 선택하는 방법

- Forward Selection(전진 선택) : 변수가 없는 상태로 시작하며 반복할 때마다 가장 중요한 변수를 추가하여 더 이상 성능의 향상이 없을 때까지 변수를 추가한다.
- Backward Elimination(후방 제거) : 모든 변수를 가지고 시작하며, 가장 덜 중요한 변수를 하나씩 제거하면서 모델의 성능을 향상시킨다. 더 이상 성능의 향상이 없을 때까지 반복한다.
- Stepwise Selection(단계별 선택): Foward Selection 과 Backward Elimination 을 결합하여 사용하는 방식으로, 모든  변수를 가지고 시작하여 가장 도움이 되지 않는 변수를 삭제하거나, 모델에서 빠져있는 변수 중에서 가장 중요한 변수를 추가하는 방법이다. 이와 같이 변수를 추가 또는 삭제를 반복한다. 반대로 아무것도 없는 모델에서 출발해 변수를 추가, 삭제를 반복할 수도 있다.

In [15]:
# Forward Selection

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# 학습 데이터와 검증 데이터 분리
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Forward feature selection 수행
selected_features = []
best_score = 0

while len(selected_features) < X.shape[1]:
    best_feature = None
    best_model = None
    best_score_local = 0

    for feature in X_train.columns:
        if feature not in selected_features:
            features = selected_features + [feature]
            X_train_selected = X_train[features]
            X_val_selected = X_val[features]

            model = LogisticRegression()
            model.fit(X_train_selected, y_train)
            score = model.score(X_val_selected, y_val)

            if score > best_score_local:
                best_score_local = score
                best_feature = feature
                best_model = model

    if best_score_local > best_score:
        selected_features.append(best_feature)
        best_score = best_score_local
        print(f"Selected feature: {best_feature}, Accuracy: {best_score:.4f}")

    else:
        break

print("\nForward selected features:")
Forward = selected_features

Selected feature: 성별, Accuracy: 0.7978
Selected feature: sibsp, Accuracy: 0.8034

Forward selected features:

In [16]:
# Backward Elimination
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# 학습 데이터와 검증 데이터 분리
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Backward feature selection 수행
selected_features = X_train.columns.tolist()
best_score = 0

while len(selected_features) > 0:
    worst_feature = None
    best_model = None
    best_score_local = 0

    for feature in selected_features:
        features = selected_features.copy()
        features.remove(feature)

        X_train_selected = X_train[features]
        X_val_selected = X_val[features]

        model = LogisticRegression()
        model.fit(X_train_selected, y_train)
        score = model.score(X_val_selected, y_val)

        if score > best_score_local:
            best_score_local = score
            worst_feature = feature
            best_model = model

    if best_score_local > best_score:
        selected_features.remove(worst_feature)
        best_score = best_score_local
        print(f"Removed feature: {worst_feature}, Accuracy: {best_score:.4f}")

    else:
        break

print("\nFinal selected features:")
Backward = selected_features

Removed feature: sibsp, Accuracy: 0.7978
Removed feature: 승객등급, Accuracy: 0.8034

Final selected features:

In [17]:
# Stepwise Selection
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# 학습 데이터와 검증 데이터 분리
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Stepwise feature selection 수행
selected_features = []
best_score = 0

# Forward step
while len(selected_features) < X.shape[1]:
    best_feature = None
    best_model = None
    best_score_local = 0

    for feature in X_train.columns:
        if feature not in selected_features:
            features = selected_features + [feature]
            X_train_selected = X_train[features]
            X_val_selected = X_val[features]

            model = LogisticRegression()
            model.fit(X_train_selected, y_train)
            score = model.score(X_val_selected, y_val)

            if score > best_score_local:
                best_score_local = score
                best_feature = feature
                best_model = model

    if best_score_local > best_score:
        selected_features.append(best_feature)
        best_score = best_score_local
        print(f"Selected feature: {best_feature}, Accuracy: {best_score:.4f}")

    else:
        break

# Backward step
while len(selected_features) > 0:
    worst_feature = None
    best_model = None
    best_score_local = 0

    for feature in selected_features:
        features = selected_features.copy()
        features.remove(feature)

        X_train_selected = X_train[features]
        X_val_selected = X_val[features]

        model = LogisticRegression()
        model.fit(X_train_selected, y_train)
        score = model.score(X_val_selected, y_val)

        if score > best_score_local:
            best_score_local = score
            worst_feature = feature
            best_model = model

    if best_score_local > best_score:
        selected_features.remove(worst_feature)
        best_score = best_score_local
        print(f"Removed feature: {worst_feature}, Accuracy: {best_score:.4f}")

    else:
        break

print("\nFinal selected features:")
Stepwise = selected_features

Selected feature: 성별, Accuracy: 0.7978
Selected feature: sibsp, Accuracy: 0.8034

Final selected features:

## 2. Filter
- 통계기법 사용하여 변수를 선택하는 방법
- 전처리단에서 주로 사용할 만 하며 통계기법을 사용하여 상관관계가 높은 변수나, 성능이 높은 변수를 추출하는 방법

    1. bartlett 검정으로 등분산,이분산 확인
    2. 등분산성 : wald t-test, 이분산성 : welch’s t-test
    3. t_test 결과 p_value < 0.05보다 작은 유의한 변수 가져오기

In [18]:
# H가 1인 경우 이분산성 / H가 0인 경우 등분산
from scipy.stats import bartlett
def bartlett_test(col, p_value = 0.05, H = 1):
    list= []
    for i in col:
        T, p_val =bartlett(df[df['생존여부']==1][i], df[df['생존여부']==0][i]) 
        list.append([i, p_val])

    list = pd.DataFrame(list, columns = ['변수', 'p_value'])
    if H == 1:
        a = list[(list['p_value'] < p_value)][['변수', 'p_value']].sort_values('p_value')
        return a
    else:
        a = list[(list['p_value'] >= p_value)][['변수', 'p_value']].sort_values('p_value')
        return a

In [19]:
# 이분산성 변수
x_hetero = bartlett_test(df.columns, H = 1)
# 등분산성 변수
x_homo = bartlett_test(df.columns, H = 0)

In [20]:
# t-test

import scipy.stats as stats
def t_test(col, col_h0, col_h1, p_value = 0.05):
    list= []
    for i in col:
        if (col_h0['변수']==i).any():
            t_stat, p_val = stats.ttest_ind(df[df['생존여부']==1][i], df[df['생존여부']==0][i], equal_var=True) # 등분산성 : wald t-test
            list.append([i, p_val])
        elif (col_h1['변수']==i).any():
            t_stat, p_val = stats.ttest_ind(df[df['생존여부']==1][i], df[df['생존여부']==0][i], equal_var=False) # 이분산성 : welch’s t-test
            list.append([i, p_val])

    list = pd.DataFrame(list, columns = ['변수', 'p_value'])
    a = list[(list['p_value'] < p_value)][['변수', 'p_value']].sort_values('p_value')
    return a

In [21]:
# 2) t_test 결과 p_value < 0.05보다 작은 유의한 변수 가져오기
x_ttest = t_test(df.columns, x_homo, x_hetero, p_value=0.1)
print("유의한 피쳐 수 :", len(x_ttest))
x_ttest.sort_values(by="변수", ascending=True)

유의한 피쳐 수 : 7

           변수       p_value
6  Embarked_C  1.691747e-06
8  Embarked_S  1.156630e-05
4       parch  1.313677e-02
2          나이  2.630650e-02
1          성별  6.513403e-58
0        승객등급  8.343234e-23
5        승객요금  4.482660e-11

In [22]:
ttest = list(x_ttest['변수'])
ttest

['성별', '승객등급', '승객요금', 'Embarked_C', 'Embarked_S', 'parch', '나이']

## 3. Embedded
- Ridge, Lasso, Elastic Net 등 내장함수 사용하여 변수를 선택하는 방법

    - Ridge : 선형회귀에 L2규제를 추가한 회귀 모델으로 L2규제는 상대적으로 큰 회귀계수 값의 예측 영향도를 감소시키기 위해서 회귀계수를 더 작게 만드는 규제 모델입니다. (회귀계수가 0이 되지는 않습니다.)
    - Lasso : 선형회귀에 L1규제를 추가. L2규제는 회귀계수 값의 크기를 줄이는데 반해 L1 규제는 예측 영향력이 적은 피처의 회귀계수를 0으로 만들어 회귀예측시 피처가 선택되지 않도록 합니다.
    - 엘라스틱 넷 (Elastic Net) 회귀 : L1규제와 L2규제를 함께 결합한 모델 L1규제로 피처의 개수를 줄이고 L2규제로 계수값의 크기를 조정합니다.

In [23]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error
import warnings
warnings.simplefilter('ignore')

lasso_model = LogisticRegression()
param_grid = {'penalty' : ['l1'], 
                'C' : [0.001, 0.01, 0.1, 1, 2, 5, 10],
                'solver' : ['liblinear']}

grid_search = GridSearchCV(lasso_model, param_grid=param_grid, return_train_score=True, cv=5)
grid_search.fit(X_train, y_train)

df = pd.DataFrame(grid_search.cv_results_)
df = df.sort_values(by=['rank_test_score'], ascending=True)
df[['params', 'mean_train_score', 'mean_test_score', 'rank_test_score']]
print('GridSearchCV 최적 파라미터:', grid_search.best_params_)
print('GridSearchCV 최고 정확도:{0:.4f}'.format(grid_search.best_score_))

GridSearchCV 최적 파라미터: {'C': 2, 'penalty': 'l1', 'solver': 'liblinear'}
GridSearchCV 최고 정확도:0.7988

In [24]:
lasso_best = LogisticRegression(C=2, penalty='l1', solver='liblinear').fit(X_train, y_train)

df_lasso = pd.DataFrame()
df_lasso['feature'] = X_train.columns
df_lasso['coef'] = lasso_best.coef_[0]
df_lasso.drop(df_lasso[df_lasso['coef']==0].index, inplace=True)
df_lasso

      feature      coef
0        승객등급 -1.102486
1          성별 -2.713699
2          나이 -0.042413
3       sibsp -0.379293
4       parch -0.064733
5        승객요금  0.001940
6  Embarked_C  0.497905
7  Embarked_Q  0.365812

In [25]:
# 라쏘에서 선택된 피처
lasso = df_lasso['feature'].values.tolist()
print('Lasso에서 선택된 피처 수 {0:1.0f}'.format(len(df_lasso)), '개')
lasso

Lasso에서 선택된 피처 수 8 개

['승객등급', '성별', '나이', 'sibsp', 'parch', '승객요금', 'Embarked_C', 'Embarked_Q']

In [26]:
list_Forward = list(Forward)
list_Backward = list(Backward)
list_Stepwise = list(Stepwise)
list_ttest= list(ttest)
list_lasso = list(lasso)
list_col_all = X_train.columns

In [27]:
def func_Forward(x):
    if x in list_Forward:
        return 1
    else:
        return 0
    
def func_Backward(x):
    if x in list_Backward:
        return 1
    else:
        return 0


def func_Stepwise(x):
    if x in list_Stepwise:
        return 1
    else:
        return 0

def func_ttest(x):
    if x in list_ttest:
        return 1
    else:
        return 0
    
def func_lasso(x):
    if x in list_lasso:
        return 1
    else:
        return 0

In [28]:
# 2번 선택된 Feature

feature_counts = pd.DataFrame()
feature_counts['Feature'] = list_col_all
feature_counts['Forward'] = list_col_all.map(func_Forward)
feature_counts['Backward'] = list_col_all.map(func_Backward)
feature_counts['Stepwise'] = list_col_all.map(func_Stepwise)
feature_counts['ttest'] = list_col_all.map(func_ttest)
feature_counts['lasso'] = list_col_all.map(func_lasso)

feature_counts["total"] = feature_counts["Forward"]+feature_counts['Backward']+feature_counts["Stepwise"]+feature_counts["ttest"]+feature_counts["lasso"]
feature_final = feature_counts[feature_counts["total"]>=2]
list_feature_final = list(feature_final["Feature"])
print("선택된 피쳐수 :", len(list_feature_final))
feature_final

선택된 피쳐수 : 9

      Feature  Forward  Backward  Stepwise  ttest  lasso  total
0        승객등급        0         0         0      1      1      2
1          성별        1         1         1      1      1      5
2          나이        0         1         0      1      1      3
3       sibsp        1         0         1      0      1      3
4       parch        0         1         0      1      1      3
5        승객요금        0         1         0      1      1      3
6  Embarked_C        0         1         0      1      1      3
7  Embarked_Q        0         1         0      0      1      2
8  Embarked_S        0         1         0      1      0      2

In [29]:
# 3번 선택된 Feature

feature_counts = pd.DataFrame()
feature_counts['Feature'] = list_col_all
feature_counts['Forward'] = list_col_all.map(func_Forward)
feature_counts['Backward'] = list_col_all.map(func_Backward)
feature_counts['Stepwise'] = list_col_all.map(func_Stepwise)
feature_counts['ttest'] = list_col_all.map(func_ttest)
feature_counts['lasso'] = list_col_all.map(func_lasso)

feature_counts["total"] = feature_counts["Forward"]+feature_counts['Backward']+feature_counts["Stepwise"]+feature_counts["ttest"]+feature_counts["lasso"]
feature_final = feature_counts[feature_counts["total"]>=3]
list_feature_final = list(feature_final["Feature"])
print("선택된 피쳐수 :", len(list_feature_final))
feature_final

선택된 피쳐수 : 6

      Feature  Forward  Backward  Stepwise  ttest  lasso  total
1          성별        1         1         1      1      1      5
2          나이        0         1         0      1      1      3
3       sibsp        1         0         1      0      1      3
4       parch        0         1         0      1      1      3
5        승객요금        0         1         0      1      1      3
6  Embarked_C        0         1         0      1      1      3